#graph_container {
	top: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	width:80%;
}
#toolbar {
	width:20%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	padding: 5px;
	background-color:#fafafa;
	overflow-y:scroll;
}
#node_info, #layout_selector_div {
	margin-top: 10px;
}
#node_info_list {
}
div.block_info {
	background-color:#f3f3f3;
	padding-bottom: 5px;
    padding-top: 3px;
	font-size:small;
}
#how_to_use, #about_ {
	display: none;
}